@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #fff;  /* White background */
  font-family: sans-serif;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

button {
  border: none;
  cursor: pointer;
}

/* Tailwind Custom Styling */
.icon-button {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.icon-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

/* Add styles for the modal background and animations */
.fixed {
  position: fixed;
}

.bg-black {
  background-color: black;
}

.bg-opacity-75 {
  opacity: 0.75;
}

.text-white {
  color: white;
}

.text-center {
  text-align: center;
}

.mt-4 {
  margin-top: 1rem;
}

.text-xl {
  font-size: 1.25rem;
}

.font-bold {
  font-weight: bold;
}
